<br> <a routerLink="">Home</a> | <a routerLink="about">About</a> | <a routerLink="product/3">Product</a> <br>
<router-outlet></router-outlet>

<br> <hr> <br>
<app-home>
  <span style="color: darkolivegreen;">Burasi ng-content içeriğidir...</span>
  <header>Header içeriği...</header>
  <body>Body içeriği...</body>
  <footer>Footer içeriği...</footer>
<br> <hr> <br>
  <div class="solMenu">Sol menu içeriği...</div>
  <div class="ortaMenu">Orta menu içeriği...</div>
  <div class="sagMenu">Sağ  menu içeriği...</div>
</app-home>
<br> <hr> <br>
<ng-container *ngTemplateOutlet="t">
  Burasi container içeriğidir.
</ng-container>
<ng-template #t>
  Burasi template içeriğidir.
</ng-template>

<br> <hr> <br>
<app-product></app-product>

<br> <hr> <br>
<ng-container [ngTemplateOutlet]="f" [ngTemplateOutletContext]="{data: 123}">
  ng-container ngTemplateOutletContext kullanimi ile
</ng-container>
<ng-template #f let-data="data">
  ng-template içeriği...<br>
  {{data}}
</ng-template>

<br> <hr> <br>
<ng-container *ngTemplateOutlet="s; context: {data: 123}">
  context kullanimi ile
</ng-container>
<ng-template #s let-data="data">
  ng-template içeriği...<br>
  {{data}}
</ng-template>

<br> <hr> <br>
<ng-container [ngTemplateOutlet]="a" [ngTemplateOutletContext]="{$implicit:'default value', x: 123, y: 234, z:345}">
  ng-container ngTemplateOutletContext kullanimi ile
</ng-container>
<ng-template #a let-x="x" let-y="y" let-z="z" let-v>
  ng-template içeriği...<br>
  x : {{x}} <br>
  y : {{y}} <br>
  z : {{z}} <br>
  v : {{v}} <br>
</ng-template>

<br> <hr> <br>
<ng-container [ngTemplateOutlet]="b" [ngTemplateOutletContext]="{$implicit: persons}">
  implicit gelişmiş kullanim
</ng-container>
<ng-template #b let-persons>
  <ul>
    <li *ngFor="let person of persons">
      {{person.name}} {{person.surname}}
    </li>
  </ul>
</ng-template>

<br> <hr> <br>
<ng-template #parentTemplate>
  Parent Template
</ng-template>
<app-child [childTemplate]="parentTemplate"></app-child>

<br> <hr> <br>
<app-child #child></app-child>


<br> <hr> <br>
<input type="text" #h appExample [(ngModel)]="fatma">App Component>

<br> <hr> <br>
<div #div>1</div>
<div #div>2</div>
<div #div>3</div>

<br> <hr> <br>
<app-child #children></app-child>
<app-child2 #children></app-child2>

<br> <hr> <br>
<p #p>A</p>
<p #p *ngIf="visible">B</p>
<p #p *ngIf="!visible">C</p>

<button (click)="showHide()">show/hide</button>

<br> <hr> <br>
<div #rend>Hello Renderer2</div>

<br> <hr> <br>
<app-child2>
  <input type="text" #exampleContent>
</app-child2>
<br>





